<div class="container">
  <div class="component-wrapper">
    <label>
      Email Address
      <%= bubble_help do %>
        Your email address is only used for account creation. We'll never spam
        you, promise.
      <% end %>
    </label>
    <input type="email" placeholder="email@example.com">
  </div>
</div>
